{% extends 'main.html.twig' %}

{% block content %}
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="{{ path('check-login') }}"><img class="logo-img" src="../assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <login-form
                    id="login-form"
                    sign-in-text="{{ 'sign_in'|trans }}"
                    username-text="{{ 'username'|trans }}"
                    password-text="{{ 'password'|trans }}"
                    remember-me-text="{{ 'remember_me'|trans }}"
                    invalid-password-text="{{ 'small_password'|trans }}"
                    invalid-username-text="{{ 'invalid_username'|trans }}"
                    check-login-url="{{ path('check-login') }}"
                ></login-form>
            </div>

            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">{{ 'create_account'|trans }}</a>
                </div>

                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">{{ 'forgot_password'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
        new Vue({
            el: '#login-form',
            data() { return {}; },
        });
    </script>
{% endblock %}

{% block head %}
    {{ parent() }}

    <style>
        html, body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}