{% extends 'main.html.twig' %}

{% block body %}
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">
                <img class="logo-img" src="../assets/images/logo.png" alt="logo">
                <span class="splash-description">{{ 'enter_you_email_and_password'|trans }}</span>
            </div>

            <div class="card-body">
                <register-form
                    id="register-form"
                    register-text="{{ 'register'|trans }}"
                    username-text="{{ 'username'|trans }}"
                    password-text="{{ 'password'|trans }}"
                    confirm-password-text="{{ 'confirm_password'|trans }}"
                    remember-me-text="{{ 'remember_me'|trans }}"
                    invalid-username-text="{{ 'invalid_username'|trans }}"
                    invalid-password-text="{{ 'small_password'|trans }}"
                    invalid-confirm-password-text="{{ 'invalid_confirm_password'|trans }}"
                    check-register-url="{{ path('check-register') }}"
                ></register-form>
            </div>

            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered col-12">
                    <a href="{{ path('login') }}" class="footer-link">{{ 'sign_in'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
        new Vue({
            el: '#register-form',
            data() { return {}; },
        });
    </script>
{% endblock %}

{% block head %}
    {{ parent() }}

    <style>
        html, body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}